*{
    font-family: "Cabin Condensed", sans-serif;
    font-style: normal;
}

.nav-black {
    background-color: black;
    color: white;
  }

.card-img-top {
    width: 100%!important; /*  esta línea obliga a que todas la imagenes de una card tenga el mismo ancho. */
    height: 200px!important; /*  esta línea obliga a que todas la imagenes de una card tenga el mismo alto. */
    object-fit: cover;
    } 